<h1>add more student Detail</h1>
<form action="/addstudent" method="POST">
      <input type="text" name="faculty_number" placeholder="faculty_number">
      <input type="text" name="enrollment_number" placeholder="enrollment_number">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="course" placeholder="course">
      <input type="text" name="department" placeholder="department">
      <button>Submit</button>
</form>