<% include header %>
         <div class="container">
               <div class="jumbotron">
                                   <p>   The purpose of COCOMO II Simulator is to develop a software that  estimates required entity for any software development project. It will estimate Function point(FP), Effort(in person-month),Development Time and Cost of the desired development project. Above entity will be estimated on some constraints like Complexity Weights, Source line of Code(SLOC),and user will provide rate of 17 Cost  Drivers, 5 scale Drivers and labour rate</p>
               </div>
    </div>
    <div class="container">
     <div class="jumbotron">
            <h1>LogIn</h1>
             <form action="/login" method="POST">
                 <input type="text" name="username" placeholder="username">
                 <input type="password" name="password" placeholder="password">
                 <button class="btn btn-primary">LOGIN</button>
  </form>
     </div>
</div>
<% include footer %>