<% include headerhome %>
<div class="container">
     <div class="jumbotron">
            <h1>This is home page</h1>
             <li><a href="/student_detail">Calculate function point</li>
             <li><a href="/addstudent">Calculte SLOC</li>
             <li><a href="/logout">Calculate Effort,Time and Cost</a></li>
     </div>
</div>
<% include footer %>